* {
  text-align: center;
  font-weight: bold;
}

#button{
  background-color: blue

}

body {
  background: linear-gradient(217deg, rgba(225,0,0,.8), rgba(255,0,0,0) 70.71%),
                    linear-gradient(127deg, rgba(255,153,4,1), rgba(0, 255, 0, 0) 70.71%),
                    linear-gradient(336deg, rgba(0,0,225,.8), rgba(0, 0, 255, 0) 70.71%);
}

h1 {
  border-style: double;
  border-width: thick;
  border-color: blue
}

h3 {
  border-style:solid;
  border-color: blue
}

h4{
  border-style: solid;
  border-color:
}



p {
  font-family: monospace;
}

div {
  color: rgba(142,68,47,1;
  font-weight: bold;
  font-family: monospace;
}
.output {
  font-family: monospace;
}
