* {
  text-align: center;
  font-weight: bold;
}

body {
  background-color: rgba(168,109,212)
}

h1 {
  border-style: dotted;
  border-width: thick;
  border-color: white
}

h3 {
  border-style:solid;
  border-color: white
}

h4{
  border-style: solid;
  border-color: white
}

.blue{
background-color: lightblue
}

.special{
background-color: rgba(168,166,53,1)
}
p {
  font-family: monospace;
}

div {
  color: rgba(192,50,98);
  font-weight: bold;
  font-family:cursive;
}
.output {
  font-family: monospace;
}
